*,
*::after,
*::before {
    box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
    margin: 0;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    height: 100%;
}

ol,
ul {
    padding: 0;
    list-style: none;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

/* header */

 body{
    max-width: 1200px;
    margin: 0px auto;
    font-family: 'Cuprum', sans-serif;
 }
 .header{
     width:100%;
     position: relative;
 
 } 

 .container{
     width: 940px;
     margin: 0px auto;
    position: relative;
 }


.header__top {
    max-width: 1200px;
    height: 42px;
    background-color: #32425C;
    position: relative;
}
.header-menu {
    width: 940px;
    height: 42px;
    display: flex;
    align-items: center;
}
.header__logo {
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 400;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 220px;
    height: 42px;
    background-color: rgba(238, 54, 67, 1);
    position: relative;
}

.header__logo::after{
    display: block;
    margin-top: 10px;
    content: "";
    height: 4px;
    width: 220px;
    background-color: #a32e36ea;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 1;
}

.search__form{
    width: 225px;
    height: 42px;
    margin-left: 10px;
    background: url(../img/icon-search.png) 3px 12px no-repeat;
    position: relative;
}
.search__btn{
    background-color:#32425C ;
    position: absolute;
    top: 9px;
    left: 22px;
    color: #F3F7F9;
    font-size: 18px;
    line-height: 24px;
}

.search__place{
    position: absolute;
    background-color: #32425C;
    border: none;
    outline: none;
    opacity: 0;
    top: 13px;
    left: 75px;
}

.search__place:focus{
    border-radius: 8px;
    background-color: #F3F7F9;
    opacity: 1;
}
.header__items {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 42px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}

._img-bookmark{
    background: url(../img/icon-bookmark.png) no-repeat 5px 13px;
}
._img-cart {
    background: url(../img/icon-cart.png) no-repeat 5px 13px;
}
._red{
    background-color:rgba(238, 54, 67, 1);
}
.checkout {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #63A63E ;
    width: 150px;
    height: 42px;
}

.header__bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 278px;
    background-color: #F3F7F9;
    margin: auto;
}
.header-text{
    display: block;
    display: flex;
    font-size: 16px;
    font-style: italic;
    color: #EE3643;
    line-height: 23px;
    margin-left: 30px;
    width: 197px;
    height: 71px;
    margin-bottom: 20px;
}

.header__bottom-info{
    width: 939px;
    height: 154px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.info__number{
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    width: 270px;
    height: 45px;
    color: rgba(238, 54, 67, 1) ;
    background: url(../img/icon-phone.png) 25px 10px no-repeat;
}
.info__address{
    display: flex;
    justify-content: center;
    width: 270px;
    padding: 5px 0;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
}

.authorization{
	width: 282px;
	height: 47px;
	display: block;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-bottom: 35px;
}
.authorization__input{
   
	width: 121px;
	height: 45px;
    font-size: 21px;
    line-height: 21px;
	background: white url(../img/icon-login.png) no-repeat 10px 12px;
	display: block;
	display:flex;
	justify-content: center ;
	align-items: center;
}
.authorization__input:hover{
    color: rgba(238, 54, 67, 1);
}

.authorization__reg{
    background-color: white;
    display: block;
	display:flex;
	justify-content: center ;
	align-items: center;
    font-size: 21px;
    line-height: 21px;
    width: 150px;
    height: 45px;
    font-weight: 400;
}
.authorization__reg:hover{
    color: rgba(238, 54, 67, 1);
}
.user-menu{
    width: 315px;
    height: 110px;
}
.profile{
    color: #000;
    font-size: 21px;
    font-weight: 400;
    background: url(../img/icon-login-2.png) no-repeat 93% 50%,
                url(../img/icon-user.png) no-repeat 7% 47%
                #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 299px;
    height: 45px;
    margin-top: 12px;
}
.input {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 3px;
    padding: 0px 34px;
}
.user-menu__btn{
    font-size: 16px;
    line-height: 18px;
    margin: 0 5px;
    font-weight: 400;
    color: rgba(50, 66, 92, 1);
    border-bottom: 1px solid #293449;
}
.user-menu__btn:hover{
    color: #EE3643;
    border-bottom: 1px solid #EE3643;
}

._dot::after{
    position: absolute;
    content: "";
    border-radius:100% ;
    width: 5px;
    height: 5px;
    background-color: rgba(50, 66, 92, 1);
    top: 13px;
    left: 134px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 60px;
    background-color: #32425C;
    margin-bottom: 60px;
    padding:0 53px ;
    box-shadow: inset 0px -5px 0px #293449;
}
.nav__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 15px;
    color: #F3F7F9;
}  
.nav__link:hover{
    border-bottom: 1px solid white;
}



/* footer */

.footer {
    width: 1200px;
}

.footer__top{
    width: 1200px;
    height: 192px;
    position: relative;
    background-color: #32425C;
}
.footer__top-left{
    width: 326px;
    height: 192px;
}

.footer__address{
    color: #fff;
    width: 343px;
    height: 67px;
    margin-top: 33px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.footer__number{
    color: white;
}
.footer__logo {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 400;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 220px;
    height: 64px;
    background-color: rgba(238, 54, 67, 1);
    position: relative;
}
.footer__logo::after{
    display: block;
    margin-top: 10px;
    content: "";
    height: 6px;
    width: 220px;
    background-color: #a32e36ea;
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 1;
}

.footer__top-right{
    position: absolute;
    top: 35px;
    left: 400px;
    width: 530px;
    height: 87px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    line-height: 15px;
}
.footer__nav-link{
    color: white;
}
._lemon{
    color: #FFD180;
    margin-left: 20px;
}
.footer__nav-link:hover{
    border-bottom: 1px solid white;
}

._lemon:hover{
    border-bottom: 1px solid #FFD180;
}

.footer__bottom{
    background-color: #293449;
    width: 1200px;
}
.footer__discription {
    display:block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;   
}

.footer__txt{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    width: 227px;
    margin-right: 70px;
}

.social{
    width: 140px;
    height: 60px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social__link{
    display: block;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    background-color: #212A3A;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__link:hover{
    background-color: #EE3643;
}
.footer__info{
    width: 302px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 55px;
}

.footer__feedback{
    font-size: 16px;
    width: 151px;
    line-height: 15px;
    font-weight: 400;
}
.footer__creator{
    font-size: 16px;
    width: 151px;
    line-height: 15px;
    font-weight: 400;
}

.footer__link {
    color: #FFD180;
}

.footer__link:hover{
    text-decoration: underline;
}

